@import url('https://fonts.googleapis.com/css2?family=Acme&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
:root{
    --cor-da-letra: rgb(0, 0, 0);
    --cor-de-fundo: rgb(231, 192, 192);
    --fundo-senha:rgb(235, 168, 168);
    --fundo-texto:rgb(241, 171, 171);
    --borda: rgb(255, 0, 0);
    --fonte: "Sevillana";
    --fonte2: "Acme";
    /*Aqui ficam as variáveis da nossa página*/
}

body{
    color: var(--cor-da-letra);
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte); 
}

.titulo-principal{
    font-size: 65px;
    /*Tamanho da letra do título*/
    text-align: center;
}

.conteudo{
    text-align: center;
    width: 100%;
    /*Largura da primeira parte*/
    margin: 0 auto;
    margin-top: 30px;
    /*Espaço pra cima da primeira parte*/
}

.conteudo-titulo{
    text-align: center;
    margin-top: 30px;
    /*Espaço pra cima do título*/
}

.titulo-secundario{
    font-size: 25px;
    /*Tamanho do segundo título*/
    font-family: var(--fonte2);
    text-align: center;
    
}
.conteudo-senha{
    margin-top: 20px;
    background-color: var(--fundo-senha);
    border-radius: 35px;
    /*Quão arredondado é o local da senha*/
    padding: 40px;
    /*Espaço interno da senha*/
    border-bottom: 5px solid var(--borda);
    font-size: 60px;
    /*Tamanho da letra do lado da senha*/
}
    
#campo-senha{
    background-color: var(--cor-da-letra);
    color: var(--cor-do-titulo);
    width: 80%;
    font-size: 38px;
    /*Tamanho da letra que a senha será escrita*/
    border-radius: 30px;
}
    
#campo-senha:focus{
    outline:none;
    background-color: var(--fundo-campo);
}

.parametro-titulo{
    font-family: var(--fonte2);
    font-size: 30px;
    /*Tamanho do título da área dos parâmetros*/
}
 
.parametro{
    font-family: var(--fonte2);
    font-size: 15px;
    /*Tamanho da letra nos parametros*/
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 20px;
    padding: 20px;
    /*Espaço em volta dos parâmetros*/
}
.parametro-senha {
    Width:50%;
    margin:0 auto;
}